<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 延迟加载配置 -->
	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>
	
	<!-- 别名配置 -->
	<!-- 为防止冗长的类名，类名->别名，注意：typeAliases配置需要写在environments前 -->
	<typeAliases>
		<typeAlias alias="User" type="com.cqu.bean.User" />
		<typeAlias alias="Book" type="com.cqu.bean.Book" />
	</typeAliases>

	<!-- 数据库连接配置 -->
	<environments default="development">
		<environment id="development">
			<!-- 事务管理方式：JDBC与MANAGED，其中MANAGED表示由第三方(eg.Spring)进行管理 -->
			<transactionManager type="JDBC">
			</transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/mybatis" />	<!-- 默认端口为3306 -->
				<property name="username" value="root" />
				<property name="password" value="justdoit111757" />
			</dataSource>
		</environment>
	</environments>

	<!-- 映射文件配置（基于xml或者接口） -->
	<mappers>
		<mapper resource="com/cqu/conf/UserMapper.xml" />
		<mapper class="com.cqu.conf.UserDeleteMapper" />
		<mapper resource="com/cqu/conf/BookMapper.xml" />
	</mappers>

</configuration>
