<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
						
	<!-- Hibernate + Spring Annotation进行配置 -->
	
	<!-- 配置扫描类包（注解驱动 Bean定义+注解驱动自动注入） -->
	<context:component-scan base-package="com.spring" />
	
    <!-- 配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/bookshop" />
		<property name="username" value="root" />
		<property name="password" value="justdoit111757" />
	</bean>
	
	<!-- 配置会话工厂（Hibernate连接数据库的必要条件） -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/spring/bean/Account.hbm.xml</value>
				<value>com/spring/bean/Book.hbm.xml</value>
				<value>com/spring/bean/BookStock.hbm.xml</value>
			</list>
		</property>
	</bean> 
	
	<!-- 配置HibernateTemplate（对DAO层提供操作支持） -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
 	</bean>
	
	<!-- 配置事务管理器（对Service层提供事务管理） -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 配置事务支持注解 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>