<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						">
		
		<!-- 开启基于@AspectJ切面的注解处理器，这样Spring就能发现@AspectJ风格的切面并且将切面应用到目标对象 -->
		<aop:aspectj-autoproxy />
	
		
		<bean id="userDAO" class="com.spring.test.UserDAOImpl" />
		
		<!-- 切面Bean(Spring能自动识别并进行AOP方面的配置)@Order(1) -->
		<bean id="logThrowAdvice" class="com.spring.test.LogThrowAdvice" />
		<bean id="logBeforeAdvice" class="com.spring.test.LogBeforeAdvice" />
		<bean id="logAroundAdvice" class="com.spring.test.LogAroundAdvice" />
		<bean id="logReturnAdvice" class="com.spring.test.LogReturnAdvice" />
		<bean id="logAfterAdvice" class="com.spring.test.LogAfterAdvice" />
</beans>